.elements__like{
    background-image: url(../../../images/like.svg);
    width: 22px;
    height: 19px;
    border: 0;
    background-color: #ffffff;
    padding: 0;
    outline: 0;
}

.elements__like:hover{
    opacity: 0.5;
    cursor: pointer;
}

.elements__like:hover:active{
    opacity: 1;
    background-color: #000000;
}